<!-- views/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/output.css" as="style">
    <link rel="stylesheet" href="/output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="prefetch" href="/dashboard" as="document">
    <link rel="prefetch" href="/auth/login" as="document">
    <link rel="icon" type="image/png" href="/shrynk_logo.png">
    <title><%= title %></title>
    <!-- Meta for SEO -->
    <meta name="description" content="Shrynk - Small Links, Big Impact. Short your Links with ease.">
    <meta name="keywords" content="Shrynk, URL Shortener, Short Links, Shorten Links, Shorten URL, Short URL">
    <meta name="author" content="Shrynk">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Shrynk - Small Links, Big Impact.">
    <meta property="og:description" content="Shrynk - Short your Links with ease.">
    <meta property="og:image" content="/shrynk_logo_text.png">
    <meta property="og:url" content="https://shrynk.taymaerz.de">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Shrynk">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@shrynk">
    <meta name="twitter:creator" content="@shrynk">
    <meta name="twitter:title" content="Shrynk - Small Links, Big Impact.">
    <meta name="twitter:description" content="Shrynk - Small Links, Big Impact. Short your Links with ease.">
    <meta name="twitter:image" content="/shrynk_logo_text.png">
    <meta name="twitter:image:alt" content="Shrynk Logo">
    <meta name="twitter:domain" content="shrynk.taymaerz.de">
    <meta name="theme-color" content="#6B46C1">

</head>
<body class="bg-gray-900 text-white">
    <header class="p-4">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
            <img src="/shrynk_logo_text.png" alt="Shrynk Logo" class="w-16 h-12 cursor-pointer" onclick="window.location.href = '/'">
            <nav class="mt-2 md:mt-0">
                <% if (user != null) { %>
                    <a href="/dashboard" class="mr-4">Welcome, <%= user.username %>!</a>
                    <a href="/auth/logout" class="text-lightBlue hover:underline">Logout</a>
                <% } else { %>
                    <a href="/auth/login" class="text-purple-600 hover:underline">Login</a>
                    <a href="/auth/register" class="ml-4 text-purple-600 hover:underline">Register</a>
                <% } %>
            </nav>
        </div>
    </header>